<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="%data%/favicon.ico"/>
    <style type="text/css">
      html {
        font-family       : verdana, arial;
      }
      body {
        color             : #fff;
        background-color  : #000;
        margin            : 0;
        padding           : 0;
      }
      a {
        color             : #48f;
        text-decoration   : none;
      }
      a:hover {
        text-decoration   : underline;
      }
  
      table {
        font-family: mono;
        font-size         : 80%;
        border-width      : 1px;
        border-color      : #666;
        border-collapse   : collapse;
      }
      table th {
        border-width      : 1px;
        padding           : 8px;
        border-style      : solid;
        border-color      : #666;
        background-color  : #eee;
      }
      table td {
        border-width      : 1px;
        padding           : 8px;
        border-style      : solid;
        border-color      : #666;
      }
  
      code {
        color             : #ddd;
        background-color  : #000;
        padding           : 2px;
        margin            : 0px;
      }
      .codehilite {
        color             : #ddd;
        background-color  : #000;
        border-style      : solid;
        border-width      : 1px;
        border-color      : #666;
        border-radius     : 5px;
        padding           : 6px;
        overflow          : auto;
      }
      .codehilite code {
        background-color  : #eee;
        padding           : 0px;
        margin            : 0px;
      }

      blockquote {
        padding-left      : 5px;
        border-color      : #aaa;
        border-style      : solid;
        border-width      : 0 0 0 5px;
      }
  
      #wrapper {
        width             : 100%;
        margin            : 0 auto;
        padding           : 0;
      }

      #toc {
        font-size         : 90%;
        min-width         : 50px;
        background-color  : #222;
        margin            : 0 10px 0 10px;
        padding           : 0 1em 0 0;
        border-style      : solid;
        border-width      : 1px;
        border-color      : #444;
        border-radius     : 3px;
        float             : left;
      }
      #toc ul {
        list-style-type   : none;
        padding           : 0 0 0 1em;
      }

      #markdown {
        background-color  : #222;
        margin            : 10px 10px 10px 10px;
        padding           : 10px;
        border-style      : solid;
        border-width      : 1px;
        border-color      : #444;
        border-radius     : 3px;
        overflow          : hidden;
        min-height        : 100%;
      }
      #markdown h1 {
        border-style      : solid;
        border-width      : 0 0 1px 0;
        border-color      : #aaa;
      }
      #markdown h2 {
        border-style      : solid;
        border-width      : 0 0 1px 0;
        border-color      : #ddd;
      }

      #header {
        width             : 100%;
        background-color  : #222;
        color             : #fff;
        padding           : 10px 0;
      }
      #header h1 ,
      #header h2 ,
      #header h3 ,
      #header h4 ,
      #header h5 ,
      #header h6 ,
      #header p {
        padding-left      : 10px;
        padding-right     : 10px;
      }
      #header a {
        color             : #bbb;
      }

      #footer {
        width             : 100%;
        text-align        : center;
        background-color  : #222;
        color             : #fff;
        padding           : 10px 0;
      }
      #footer h1,
      #footer h2,
      #footer h3,
      #footer h4,
      #footer h5,
      #footer h6,
      #footer p {
        margin            : 10px;
      }
      #footer a {
        color             : #bbb;
      }


      .hll { background-color:#222 !important; }
      .err { color:#ccc !important;border:1px solid red !important; }
      .o { color:#39c !important; }
      .cs { color:#cd0000 !important;font-weight:700 !important; }
      .ge { color:#ccc !important;font-style:italic !important; }
      .gr { color:red !important; }
      .go { color:#888 !important; }
      .gs { color:#ccc !important;font-weight:700 !important; }
      .gu { color:purple !important;font-weight:700 !important; }
      .gt { color:#04D !important; }
      .ne { color:#669 !important;font-weight:700 !important; }
      .c,.highlight .cm,.highlight .cp,.highlight .c1 { color:#0000cd !important; }
      .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ld,.highlight .na,.highlight .no,
      .nd,.highlight .ni,.highlight .nf,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,
      .nt,.highlight .w { color:#ccc !important; }
      .k,.highlight .kc,.highlight .kp,.highlight .kr,.highlight .ow { color:#cdcd00 !important; }
      .gd,.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,
      .si,.highlight .sx,.highlight .sr,.highlight .s1,.highlight .ss { color:#cd0000 !important; }
      .gh,.highlight .gp { color:navy !important;font-weight:700 !important; }
      .gi,.highlight .kd,.highlight .kt { color:#00cd00 !important; }
      .kn,.highlight .m,.highlight .nb,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,
      .bp,.highlight .il { color:#cd00cd !important; }
      .nc,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi { color:#00cdcd !important; }

    </style>
  </head>

<body>
%header%
<div id='wrapper'>
%toc%
%markdown%
</div>
<div style="clear:both">&nbsp;</div>
%footer%
</body>

</html>

